<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--  <bean id="course" class="com.sai.beans.Course" c:cid="c-101" c:cname="Data Structures" c:cfee="5000">
	
	</bean>
	-->
	<bean id="course" class="com.sai.beans.Course" c:_0="c-101" c:_1="Data Structures" c:_2="5000">
	</bean>

	<!--  <bean id="student" class="com.sai.beans.Student" c:sname="Bade jhansi" c:saddr="Hyderabad" c:course-ref="course">
	
	</bean>
	-->
	
	<bean id="student" class="com.sai.beans.Student" c:_0="Bade jhansi" c:_1="Hyderabad" c:_2-ref="course">
	
	</bean>

	

</beans>