<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

   <!--   <bean id="accBean" class="com.sai.beans.Account">
		<property name="accno" value="123456789"></property>
		<property name="type" value="Salary"></property>
		<property name="ifc" value="UBIN1009"></property>
	</bean>
	
	<bean id="empBean" class="com.sai.beans.Employee" autowire="no">
		<property name="name" value="SAI KRISHNA"></property>
		<property name="id" value="1933187"></property>
		<property name="salary" value="23000"></property>
		<property name="acc" ref="accBean"></property>
	</bean>
	-->
	
	
	<!--  <bean id="acc" class="com.sai.beans.Account">
		<property name="accno" value="123456789"></property>
		<property name="type" value="Salary"></property>
		<property name="ifc" value="UBIN1009"></property>
	</bean>
	
	 <bean id="empBean" class="com.sai.beans.Employee" autowire="byName">
		<property name="name" value="SAI KRISHNA"></property>
		<property name="id" value="1933187"></property>
		<property name="salary" value="23000"></property>
	</bean>  -->
	
	
	<bean id="accBean" class="com.sai.beans.Account">
		<property name="accno" value="123456789"></property>
		<property name="type" value="Salary"></property>
		<property name="ifc" value="UBIN1009"></property>
	</bean>
	
	 <bean id="empBean" class="com.sai.beans.Employee" autowire="byType">
		<property name="name" value="SAI KRISHNA"></property>
		<property name="id" value="1933187"></property>
		<property name="salary" value="23000"></property>
	</bean>
	
	
</beans>