<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="employeeBean" class="com.sai.beans.EmployeeBean">
		<property name="eid" value="1933187" />
		<property name="ename" value="Sai Krishna" />
		<property name="esal" value="10000"/>
		<property name="eaddr" value="Guttikonda" />
		<property name="acc">
			<bean id="account" class="com.sai.beans.Account">
				<property name="accNo" value="abc123" />
				<property name="accName" value="Durga" />
				<property name="accType" value="Savings" />
				<property name="balance" value="20000" />
			</bean>

		</property>

	</bean>

</beans>